Node-red_Flow/flows.json
[
  {
    "id": "59d40a3b.abb544",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "937d65c0.69c048",
    "type": "ui_form",
    "z": "59d40a3b.abb544",
    "name": "",
    "label": "",
    "group": "e3800fb4.c9873",
    "order": 1,
    "width": 0,
    "height": 0,
    "options": [
      {
        "label": "Enter your input",
        "value": "text",
        "type": "text",
        "required": true,
        "rows": null
      }
    ],
    "formValue": { "text": "" },
    "payload": "",
    "submit": "submit",
    "cancel": "cancel",
    "topic": "",
    "x": 110,
    "y": 240,
    "wires": [["f1eca286.1d75d"]]
  },
  {
    "id": "f1eca286.1d75d",
    "type": "function",
    "z": "59d40a3b.abb544",
    "name": "",
    "func": "msg.payload=msg.payload.text;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 320,
    "y": 160,
    "wires": [["1a9db72c.c2dc79", "ec9fc561.a77e28"]]
  },
  {
    "id": "c96dcced.1b719",
    "type": "function",
    "z": "59d40a3b.abb544",
    "name": "",
    "func": "msg.payload=msg.payload.output.text[0];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 620,
    "y": 160,
    "wires": [["b707a4ca.6434d8"]]
  },
  {
    "id": "1a9db72c.c2dc79",
    "type": "watson-conversation-v1",
    "z": "59d40a3b.abb544",
    "name": "Customer Care",
    "workspaceid": "YOUR_ID",
    "multiuser": false,
    "context": true,
    "empty-payload": false,
    "service-endpoint": "YOUR_URL",
    "timeout": "",
    "optout-learning": false,
    "x": 510,
    "y": 60,
    "wires": [["b5976af6.d52148", "c96dcced.1b719"]]
  },
  {
    "id": "ec9fc561.a77e28",
    "type": "ui_text",
    "z": "59d40a3b.abb544",
    "group": "e3800fb4.c9873",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "You",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "x": 320,
    "y": 340,
    "wires": []
  },
  {
    "id": "b5976af6.d52148",
    "type": "debug",
    "z": "59d40a3b.abb544",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 700,
    "y": 60,
    "wires": []
  },
  {
    "id": "b707a4ca.6434d8",
    "type": "ui_text",
    "z": "59d40a3b.abb544",
    "group": "e3800fb4.c9873",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Bot",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "x": 640,
    "y": 320,
    "wires": []
  },
  {
    "id": "e3800fb4.c9873",
    "type": "ui_group",
    "z": "",
    "name": "Chatbot",
    "tab": "69a8b472.3b4cec",
    "order": 1,
    "disp": true,
    "width": 14,
    "collapse": false
  },
  {
    "id": "69a8b472.3b4cec",
    "type": "ui_tab",
    "z": "",
    "name": "Customer Care Helpdesk",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
